<!DOCTYPE html>
<footer id="pageFoot">
    <div id="pageFootInner">
        <div>
            東京大学 大学院理学系研究科 生物科学専攻 稲垣研究室<br>
            〒113-0033 東京都文京区本郷7-3-1<br>
        </div>
        <div class="inner">
            <nav class="globalNaviFoot">
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/research' | relative_url }}">Research</a></li>
                    <li><a href="{{ '/members' | relative_url }}">Members</a></li>
                    <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
                    <li><a href="{{ '/access' | relative_url }}">Access</a></li>
                </ul>
            </nav>
        </div>
        <p id="copyright"><small>Copyright&copy; Inagaki Lab. All Right Reserved.</small></p>
    </div>
</footer>