<!DOCTYPE html>
<header id="pageHead">
    <div id="header">
        <div>
            <img src="image/logo.png" height="50px">
        </div>
        <div>
            <p id="siteTitle">Inagaki Lab</p>
            <p id="catchcopy">The University of Tokyo</p>
        </div>
    </div>
    <nav class="globalNavi">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="research.php">Research</a></li>
            <li><a href="members.php">Members</a></li>
            <li><a href="publications.php">Publications</a></li>
            <li><a href="access.php">Access</a></li>
        </ul>
    </nav>
</header>